<footer class="w-full py-10 text-center bg-white">
  <!-- Mensaje principal -->
   <h1 class="text-3xl md:text-5xl text-gray-800 mb-5">
    Por siempre nuestro amor, Gracias
  </h1>

  <!-- Créditos -->
  <p class="text-sm text-gray-500 mt-15">
    Copyright 2025, Hecho con amor por 
    <a href="https://iamisaacsportfolio.netlify.app" class="text-[#C8AD7F]">Isaac Salazar</a>
  </p>
</footer>
